/* NEW FONT */

@font-face {
  font-family: AstroSpace;
  src: url(AstroSpace.ttf);
}

@font-face {
  font-family: Karla;
  src: url(Karla.ttf);
}

@font-face {
  font-family: Karla;
  src: url(KarlaItalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: ShareTech;
  src: url(ShareTech.ttf);
}


/* FONT CUSTOMIZATION */
em {
  color: #E87524;
  font-style: normal;
}

body {
  font-family: ShareTech;
}


p {
  font-size: 20px;
  color: white;
}

h1,
h2,
h3 {
  font-family: AstroSpace;
  color: #fff;
}

h4 {
  color: rgba(246, 162, 15, 0.75);
}

.margin-top-20 {
  padding-top: 10px;
  margin: 4000px 0px;
}


/* BACKGROUND */
body {
  background-color: #0a0b1f;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.background {
  z-index: -9999;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: -1;
}


/* LINK BUTTONS */

/* .link-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: solid 1px rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 15px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
} */

.link-button {
  width: 100px;
  height: 30px;
  box-sizing: border-box;
  background: none;
  border: none;
  margin: 10px;
  background-color: #42D6CA;
  border: 5px solid #42D6CA;
  transition: all 0.5s ease;
}

.link-button:focus {
  outline: none;
  opacity: 0.2;
}

.link-button:before {
  content: " ";
  border: 2px transparent solid;
  position: absolute;
  left: 5px;
  top: 5px;
  box-sizing: border-box;
  width: 110px;
  height: 20px;
  transition: all 0.7s ease;
}

.link-button:hover {
  background-color: rgba(66, 214, 202, 0.7);
  color: #fff;
  border-radius: 20px;
}

.link-button:hover:before {
  border-radius: 20px;
  border: 2px #42D6CA solid;
}


/* NAVIGATION BAR */

.mainNav {
  background-color: rgba(11, 4, 41, 0.5);
}

.navbar-custom {
  background-color: rgba(11, 4, 41, 1);
  text-transform: lowercase;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav-link {
  padding: 5px 20px !important;
}


.navbar-collapse a {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(11, 4, 41, 1);
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 255, 255, 0.25);
}

.navbar-brand {
  font-family: AstroSpace;
  color: #fff;
}

.navbar .active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-item {
  position: relative;
}

.nav-link:hover {
  border-radius: 15px 0 15px 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link:before {
  position: absolute;
  opacity: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  top: 4px;
  transition: all 0.3s;
}

.nav-link:before {
  content: '▸';
  left: 20px;
  transform: translateX(10px);
}

.nav-link:hover:before {
  opacity: 1;
  transform: translateX(0px);
}

#dropdown-menu {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  z-index: 1;
  position: absolute;
  top: 27px;
}




/* GENERAL PAGE CLASSES */
.half-page {
  margin-top: 1%;
  /* height: 70vh; */
  display: flex;
  align-items: center;
}

.full-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.video {
  display: flex;
}

.video iframe {
  margin: 0 auto;
  width: 70%;
  height: 500px;
}

img {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
}

img.alone {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-left: 20%;
  padding-right: 10%;
}

img.small {
  width: 40%;
  margin: 0 auto;
}

img.footer {
  width: 100%;
  margin-top: 5%;
}

.alone {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
  text-align: center;
}

.alone-small-margin {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 2%;
  text-align: center;
}

h2.alone {
  margin-top: 7%;
}

/*CAROUSEL CLASSES*/
.carousel {
  height: 90vh;
  width: auto;
  /* margin: 5% auto 5% auto; */
  /* padding: 10px; */
  text-align: center;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
}

.carousel-inner {
  /* height: 100%;
  width: auto; */
  margin-top: 0;
  display: flex;
}

.carousel-item {
  /* width: 90%; */
}

p.carousel {
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-caption {
  background-color: #0a092682;
  margin-top: 50px;
}

/* .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  left: -9%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
} */


/* TOP PAGE */
#page-top {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1050px;
  position: fixed;
  z-index: -1;
}

.layer-bg {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  /* width: 100%; */
  /* height: 200rem; */
  position: fixed;
  z-index: -1;
  background-image: url("../images/bg.png");
  background-size: contain;
  background-position: top center;
}

.layer-1 {
  background-image: url("../images/earth.png");
  background-size: contain;
  /* width: 100%; */
  background-position: top center;
}

.layer-2 {
  background-image: url("../images/sail.png");
  background-size: contain;
  background-position: top center;
}

.layer-3 {
  background-image: url("../images/cube.png");
  background-size: contain;
  background-position: top center;
}

.layer-4 {
  background-image: url("../images/golden.png");
  background-size: contain;
  background-position: top center;
}

.layer-5 {
  background-image: url("../images/satellite.png");
  background-size: contain;
  background-position: top center;
}

.layer-6 {
  background-image: url("../images/craft.png");
  background-size: contain;
  background-position: top center;
}

.layer-page {
  background-position: bottom center;
  background-size: cover;
  /* height: 200rem; */
  position: fixed;
  z-index: -1;
  width: 100%;
  background-image: url("../images/bg_new.png");
  /* background-position: top center; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  border-radius: 75px 0 75px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 0 0 8px 8px;
  max-width: 750px;
  margin-top: 5%;
  margin-bottom: 0;
}


.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
}

.about .content h2,
.about .content p {
  color: #fff;
}

.about .content h4 {
  color: rgba(232, 117, 36, 1);
}


/* TIMELINE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#timeline .container {
  max-width: 650px;
  margin: 200px auto 100px;
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
}

/* .timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #27293d;
} */

.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline .timeline-container:before {
  content: "";
  position: absolute;
  left: -64px;
  top: 92px;
  width: 1px;
  height: 95%;
  /* background: #27293d; */
  background-color: rgba(255, 255, 255, 0.25);
}

.timeline .timeline-container:last-of-type:before {
  visibility: hidden;
}

.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
}

.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* color: #E87524; */
  color: #fff;
}

.timeline .timeline-container .time-label {
  position: absolute;
  left: -6px;
  top: 64px;
  width: 64px;
  font-size: 14px;
  color: #fff;
  /* color: #E87524; */
  text-align: center;
  border-radius: 6px 0 6px 0;
  /* background-color: #27293d; */
  /* background-color: rgba(255, 255, 255, 0.25); */
  border-style: solid;
  border-width: 0 0 3px 3px;
  border-color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.timeline .timeline-container .timeline-body {
  padding: 20px 20px 15px;
}

.timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline .timeline-container .timeline-body .timeline-title {
  font-family: "ShareTech";
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1.4rem;
  /* color: #E87524; */
  color: #FFA363;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 11px;
}

/* .timeline .timeline-container .timeline-icon i:hover {
  color: rgba(255, 255, 255);
} */


/* VOTING */

#holograms {
  display: flex;
  justify-content: center;
}

#holograms .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hologramContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#unityContainer {
  max-width: 900px;
}


.btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


.btn-group {
  width: 150px;
  display: flex;
  flex-direction: column;
}


.btn-row {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 200px;
}

.vote {
  visibility: hidden;
  background-color: #FFA363;
  width: 75px;
  height: 25px;
  margin: 0 0 0 15px !important;
  border: none;
  border-radius: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.vote h3 {
  font-size: 14px;
  color: #0A0926;
  margin: 0;
  padding: 0;
}

.vote:hover {
  background-color: #E87524;
  cursor: pointer;
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.changeHologram {
  font-size: 16px;
  width: 50px;
  height: 50px;
  margin-right: 15px !important;
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeHologram i {
  color: #fff;
}

.active {
  /* background: linear-gradient(to bottom right, #E87524, #F2D047) !important; */
  /* background-color: #FFA363 !important; */
  /* transition: 0.3s; */
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1);
  /* animation: pulse 2s infinite; */
}

.changeHologram:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* .changeHologram:hover {} */

.vote {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.vote input {
  font-size: 24px;
}

#secondary-slider {
  margin: 25px;
}

.splide__slide {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .splide__slide div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .splide__slide.is-active {} */



.zoom-in {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.25);
}

.options {
  margin-top: 5px;
}

.option {
  background-color: rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border: 5px solid transparent;
  background-clip: padding-box;
}

.row .option:first-of-type {
  border-left: none;
}

.row .option:last-of-type {
  border-right: none;
}

/* HOME */
.home-title {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30vh 0px 45vh 0px;
}

.home-title h1 {
  font-size: 54pt;
}


/* CONTACT */

#contact {
  display: flex;
  align-items: center;
  margin: 50px auto;
}

#contact .container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

#contact .container .row {
  display: flex;
  flex-wrap: wrap;
}

#contact .left-content,
#contact .right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
}

#contact .hidden {
  visibility: hidden;
}

#contact .form-group {
  margin: 0;
}

#contact input,
#contact textarea {
  background-color: transparent;
  padding: 25px 15px;
  border: none;
  border-radius: 0;
  border-bottom: solid 2px rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

#contact input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.6);
}

#contact input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.6);
}

#contact input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}

.form-control:focus {
  transition: 100ms;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(255, 163, 99, 0.1) !important;
  border-bottom: solid 2px rgba(255, 163, 99, 0.6) !important;
  color: rgba(255, 255, 255, 1) !important;
}

.contact-content {
  margin-top: 50px;
  padding-left: 10%;
}

#submit-contact {
  margin-top: 50px;
  padding: 5px 25px;
  border: none;
  border-radius: 10px 0 10px 0;
  background-color: #FFA363;
}

#submit-contact:hover {
  background-color: #E87524;
  transition: 0.3s;
}



/* ALL ANIMATION CODE BELOW */

/* STARY NIGHT BACKGROUND */

/* #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 332px 1162px #FFF , 1905px 454px #FFF , 1363px 1476px #FFF , 431px 929px #FFF , 245px 1081px #FFF , 1615px 818px #FFF , 845px 1370px #FFF , 388px 125px #FFF , 1070px 573px #FFF , 724px 1018px #FFF , 644px 1897px #FFF , 1895px 1573px #FFF , 830px 306px #FFF , 1883px 1845px #FFF , 1521px 1880px #FFF , 603px 113px #FFF , 331px 1440px #FFF , 448px 524px #FFF , 175px 1351px #FFF , 1503px 1261px #FFF , 911px 1952px #FFF , 331px 1637px #FFF , 20px 124px #FFF , 611px 1358px #FFF , 291px 726px #FFF , 523px 772px #FFF , 1063px 1291px #FFF , 404px 703px #FFF , 1028px 979px #FFF , 1968px 1189px #FFF , 1923px 297px #FFF , 221px 1946px #FFF , 1722px 987px #FFF , 1280px 1087px #FFF , 1133px 16px #FFF , 1685px 1149px #FFF , 1470px 311px #FFF , 900px 1239px #FFF , 1393px 1937px #FFF , 449px 466px #FFF , 403px 260px #FFF , 828px 1896px #FFF , 1206px 1914px #FFF , 718px 1933px #FFF , 435px 872px #FFF , 1993px 813px #FFF , 293px 1474px #FFF , 300px 1875px #FFF , 1118px 1538px #FFF , 772px 1924px #FFF , 444px 187px #FFF , 415px 1128px #FFF , 1691px 1543px #FFF , 839px 1886px #FFF , 1686px 156px #FFF , 786px 1348px #FFF , 175px 355px #FFF , 1146px 1865px #FFF , 1549px 247px #FFF , 375px 1806px #FFF , 727px 64px #FFF , 638px 1656px #FFF , 615px 841px #FFF , 783px 551px #FFF , 558px 1689px #FFF , 172px 250px #FFF , 1204px 1968px #FFF , 393px 637px #FFF , 1104px 1980px #FFF , 297px 897px #FFF , 725px 1216px #FFF , 1312px 1523px #FFF , 1642px 697px #FFF , 1693px 216px #FFF , 824px 250px #FFF , 1855px 1110px #FFF , 100px 632px #FFF , 1725px 1155px #FFF , 1183px 1571px #FFF , 1859px 360px #FFF , 1352px 781px #FFF , 596px 45px #FFF , 1730px 396px #FFF , 590px 1733px #FFF , 221px 557px #FFF , 1227px 166px #FFF , 413px 449px #FFF , 1819px 644px #FFF , 1597px 904px #FFF , 1527px 214px #FFF , 1720px 58px #FFF , 1289px 108px #FFF , 1902px 958px #FFF , 887px 778px #FFF , 1666px 768px #FFF , 1348px 1963px #FFF , 543px 1071px #FFF , 1876px 698px #FFF , 399px 644px #FFF , 1785px 175px #FFF , 1489px 1987px #FFF , 1231px 286px #FFF , 1070px 1688px #FFF , 565px 1565px #FFF , 1192px 1392px #FFF , 1904px 1235px #FFF , 1537px 1898px #FFF , 1102px 228px #FFF , 1755px 1940px #FFF , 976px 266px #FFF , 440px 1063px #FFF , 1604px 140px #FFF , 270px 428px #FFF , 1431px 538px #FFF , 1707px 652px #FFF , 250px 1786px #FFF , 665px 1675px #FFF , 1611px 729px #FFF , 907px 801px #FFF , 1974px 1842px #FFF , 1335px 446px #FFF , 229px 1244px #FFF , 724px 1676px #FFF , 743px 786px #FFF , 546px 1092px #FFF , 1924px 1453px #FFF , 1606px 1827px #FFF , 1554px 1404px #FFF , 892px 40px #FFF , 397px 1688px #FFF , 235px 1568px #FFF , 1353px 450px #FFF , 813px 886px #FFF , 997px 283px #FFF , 1402px 208px #FFF , 116px 1266px #FFF , 1555px 1040px #FFF , 872px 1864px #FFF , 629px 498px #FFF , 1665px 1530px #FFF , 1517px 1840px #FFF , 1646px 1072px #FFF , 1392px 515px #FFF , 822px 1372px #FFF , 123px 1929px #FFF , 1454px 1082px #FFF , 1054px 413px #FFF , 1427px 664px #FFF , 343px 1769px #FFF , 1083px 487px #FFF , 819px 1713px #FFF , 1957px 130px #FFF , 1741px 858px #FFF , 1892px 1820px #FFF , 526px 11px #FFF , 1104px 414px #FFF , 1830px 48px #FFF , 859px 758px #FFF , 137px 1540px #FFF , 487px 1011px #FFF , 780px 1626px #FFF , 579px 1945px #FFF , 1634px 1177px #FFF , 708px 1044px #FFF , 1283px 645px #FFF , 826px 212px #FFF , 103px 954px #FFF , 86px 149px #FFF , 19px 1868px #FFF , 1489px 1595px #FFF , 1707px 681px #FFF , 529px 226px #FFF , 34px 1547px #FFF , 148px 627px #FFF , 1775px 1813px #FFF , 312px 1242px #FFF , 541px 815px #FFF , 1244px 119px #FFF , 1766px 1996px #FFF , 497px 271px #FFF , 61px 826px #FFF , 883px 508px #FFF , 265px 1422px #FFF , 1190px 1371px #FFF , 550px 1569px #FFF , 784px 1421px #FFF , 1647px 1164px #FFF , 1640px 1259px #FFF , 1392px 1170px #FFF , 611px 967px #FFF , 292px 1760px #FFF , 1270px 1236px #FFF , 714px 684px #FFF , 305px 1919px #FFF , 204px 1387px #FFF , 174px 934px #FFF , 1725px 454px #FFF , 923px 699px #FFF , 291px 488px #FFF , 713px 321px #FFF , 1478px 1430px #FFF , 1667px 726px #FFF , 353px 238px #FFF , 793px 443px #FFF , 419px 896px #FFF , 1118px 1377px #FFF , 1234px 1855px #FFF , 1447px 1005px #FFF , 1185px 1416px #FFF , 1583px 1078px #FFF , 1999px 1274px #FFF , 676px 125px #FFF , 1531px 291px #FFF , 1772px 828px #FFF , 1592px 368px #FFF , 1006px 403px #FFF , 1225px 1965px #FFF , 1329px 1367px #FFF , 452px 1622px #FFF , 920px 746px #FFF , 541px 806px #FFF , 219px 1228px #FFF , 1560px 775px #FFF , 1669px 509px #FFF , 1666px 1950px #FFF , 1525px 215px #FFF , 1780px 1009px #FFF , 272px 394px #FFF , 492px 1853px #FFF , 312px 1544px #FFF , 1619px 1395px #FFF , 1556px 151px #FFF , 718px 223px #FFF , 1667px 516px #FFF , 1038px 241px #FFF , 1327px 1563px #FFF , 812px 1388px #FFF , 692px 1749px #FFF , 756px 562px #FFF , 945px 611px #FFF , 1620px 1595px #FFF , 1107px 1030px #FFF , 874px 350px #FFF , 1139px 70px #FFF , 658px 1424px #FFF , 1892px 1864px #FFF , 25px 1111px #FFF , 1511px 1663px #FFF , 1547px 727px #FFF , 1556px 347px #FFF , 1125px 1560px #FFF , 1149px 1066px #FFF , 57px 884px #FFF , 1257px 457px #FFF , 1492px 369px #FFF , 1886px 1364px #FFF , 769px 939px #FFF , 1058px 524px #FFF , 171px 576px #FFF , 1407px 1712px #FFF , 327px 1111px #FFF , 1002px 1312px #FFF , 458px 137px #FFF , 560px 1514px #FFF , 852px 1367px #FFF , 3px 867px #FFF , 295px 1919px #FFF , 79px 1569px #FFF , 986px 308px #FFF , 1066px 1045px #FFF , 1535px 1418px #FFF , 590px 168px #FFF , 1261px 1969px #FFF , 245px 1874px #FFF , 1219px 629px #FFF , 1810px 1530px #FFF , 866px 1047px #FFF , 719px 1345px #FFF , 930px 414px #FFF , 114px 780px #FFF , 331px 400px #FFF , 1102px 1182px #FFF , 1181px 58px #FFF , 1520px 1191px #FFF , 308px 405px #FFF , 1989px 7px #FFF , 432px 839px #FFF , 1046px 1311px #FFF , 1453px 140px #FFF , 1382px 1271px #FFF , 832px 1810px #FFF , 1321px 1236px #FFF , 219px 42px #FFF , 150px 467px #FFF , 1407px 319px #FFF , 83px 567px #FFF , 88px 1795px #FFF , 183px 1261px #FFF , 1621px 478px #FFF , 1615px 883px #FFF , 790px 332px #FFF , 1903px 1002px #FFF , 944px 1060px #FFF , 1830px 1304px #FFF , 1385px 642px #FFF , 1912px 1091px #FFF , 1116px 1478px #FFF , 1425px 879px #FFF , 1057px 1947px #FFF , 1692px 500px #FFF , 1388px 108px #FFF , 1883px 82px #FFF , 1620px 612px #FFF , 1195px 1300px #FFF , 623px 1545px #FFF , 1861px 1015px #FFF , 1353px 1171px #FFF , 1696px 1079px #FFF , 760px 1442px #FFF , 131px 449px #FFF , 1414px 1942px #FFF , 1289px 710px #FFF , 1870px 619px #FFF , 1766px 1670px #FFF , 1839px 693px #FFF , 478px 1817px #FFF , 1817px 1748px #FFF , 1636px 1772px #FFF , 822px 1236px #FFF , 344px 361px #FFF , 317px 1323px #FFF , 471px 887px #FFF , 21px 1459px #FFF , 321px 1250px #FFF , 291px 1778px #FFF , 1105px 1353px #FFF , 1169px 806px #FFF , 566px 660px #FFF , 1833px 805px #FFF , 1957px 1557px #FFF , 1563px 1794px #FFF , 1135px 9px #FFF , 952px 348px #FFF , 1944px 1247px #FFF , 1188px 560px #FFF , 103px 1120px #FFF , 1804px 1469px #FFF , 1450px 1743px #FFF , 520px 1755px #FFF , 980px 588px #FFF , 1373px 897px #FFF , 1492px 1731px #FFF , 1053px 1765px #FFF , 308px 748px #FFF , 1237px 409px #FFF , 692px 1619px #FFF , 340px 1640px #FFF , 335px 995px #FFF , 727px 776px #FFF , 1899px 375px #FFF , 1304px 1985px #FFF , 397px 673px #FFF , 1672px 1259px #FFF , 530px 1789px #FFF , 857px 1260px #FFF , 1680px 1117px #FFF , 455px 1698px #FFF , 956px 1527px #FFF , 1133px 479px #FFF , 486px 931px #FFF , 1818px 315px #FFF , 375px 648px #FFF , 1394px 122px #FFF , 936px 600px #FFF , 711px 1283px #FFF , 455px 1301px #FFF , 1680px 1442px #FFF , 973px 68px #FFF , 1584px 1989px #FFF , 1584px 1192px #FFF , 431px 1991px #FFF , 116px 1792px #FFF , 610px 865px #FFF , 1544px 274px #FFF , 448px 1889px #FFF , 24px 1285px #FFF , 1439px 1117px #FFF , 188px 832px #FFF , 1716px 656px #FFF , 1091px 1491px #FFF , 135px 741px #FFF , 554px 205px #FFF , 1091px 1836px #FFF , 1142px 626px #FFF , 1102px 449px #FFF , 456px 662px #FFF , 627px 681px #FFF , 1544px 148px #FFF , 905px 1640px #FFF , 1536px 867px #FFF , 771px 1484px #FFF , 939px 1883px #FFF , 1739px 645px #FFF , 600px 1295px #FFF , 412px 515px #FFF , 788px 932px #FFF , 961px 451px #FFF , 211px 1761px #FFF , 561px 1962px #FFF , 1889px 11px #FFF , 759px 882px #FFF , 1706px 1612px #FFF , 562px 1688px #FFF , 1956px 2000px #FFF , 269px 154px #FFF , 1818px 677px #FFF , 1856px 518px #FFF , 75px 815px #FFF , 1766px 771px #FFF , 824px 1329px #FFF , 31px 809px #FFF , 281px 116px #FFF , 42px 459px #FFF , 329px 566px #FFF , 1744px 332px #FFF , 9px 1107px #FFF , 1587px 1181px #FFF , 498px 594px #FFF , 515px 49px #FFF , 188px 1054px #FFF , 678px 1037px #FFF , 1799px 1155px #FFF , 1954px 1236px #FFF , 1792px 567px #FFF , 359px 1848px #FFF , 522px 1251px #FFF , 1281px 3px #FFF , 1748px 256px #FFF , 1999px 1633px #FFF , 1644px 1168px #FFF , 1924px 1706px #FFF , 1439px 1289px #FFF , 63px 1219px #FFF , 77px 398px #FFF , 497px 310px #FFF , 968px 1474px #FFF , 1613px 1441px #FFF , 1830px 939px #FFF , 1388px 742px #FFF , 783px 656px #FFF , 4px 666px #FFF , 1580px 1307px #FFF , 1902px 1422px #FFF , 1827px 1485px #FFF , 299px 1943px #FFF , 498px 775px #FFF , 931px 861px #FFF , 1737px 1510px #FFF , 373px 376px #FFF , 115px 1001px #FFF , 1217px 1028px #FFF , 1986px 19px #FFF , 1789px 1432px #FFF , 487px 151px #FFF , 899px 1971px #FFF , 1921px 1793px #FFF , 1883px 1984px #FFF , 1180px 1067px #FFF , 1351px 1579px #FFF , 1617px 1361px #FFF , 1324px 1653px #FFF , 713px 625px #FFF , 137px 1440px #FFF , 1299px 1456px #FFF , 1305px 50px #FFF , 1039px 61px #FFF , 1177px 1703px #FFF , 727px 1582px #FFF , 442px 306px #FFF , 1028px 1018px #FFF , 1525px 1907px #FFF , 986px 1067px #FFF , 244px 1745px #FFF , 1937px 1546px #FFF , 1668px 1368px #FFF , 685px 113px #FFF , 183px 1814px #FFF , 807px 1798px #FFF , 1593px 1020px #FFF , 1139px 803px #FFF , 1429px 159px #FFF , 201px 81px #FFF , 692px 1864px #FFF , 1625px 1630px #FFF , 557px 478px #FFF , 1663px 1579px #FFF , 1591px 370px #FFF , 1046px 950px #FFF , 1434px 243px #FFF , 1735px 691px #FFF , 1710px 662px #FFF , 477px 1162px #FFF , 1672px 1206px #FFF , 99px 531px #FFF , 581px 1544px #FFF , 1214px 677px #FFF , 660px 1709px #FFF , 1179px 988px #FFF , 281px 1825px #FFF , 1166px 711px #FFF , 1705px 1675px #FFF , 1437px 1586px #FFF , 1670px 1543px #FFF , 283px 1755px #FFF , 1619px 720px #FFF , 438px 585px #FFF , 1113px 390px #FFF , 1302px 828px #FFF , 1424px 1581px #FFF , 839px 1572px #FFF , 49px 415px #FFF , 1936px 191px #FFF , 131px 1488px #FFF , 221px 561px #FFF , 1598px 1283px #FFF , 872px 1208px #FFF , 216px 514px #FFF , 1915px 1469px #FFF , 741px 95px #FFF , 1783px 1311px #FFF , 1445px 772px #FFF , 1317px 1399px #FFF , 1665px 1761px #FFF , 1671px 1097px #FFF , 1640px 82px #FFF , 557px 1649px #FFF , 1264px 986px #FFF , 1751px 728px #FFF , 1874px 1534px #FFF , 1275px 1598px #FFF , 139px 551px #FFF , 644px 1596px #FFF , 1508px 715px #FFF , 162px 966px #FFF , 324px 1959px #FFF , 432px 842px #FFF , 963px 496px #FFF , 516px 1829px #FFF , 146px 241px #FFF , 135px 713px #FFF , 445px 1138px #FFF , 1733px 1012px #FFF , 840px 1466px #FFF , 1318px 1376px #FFF , 1580px 1779px #FFF , 713px 1894px #FFF , 716px 246px #FFF , 1556px 1375px #FFF , 286px 1604px #FFF , 1436px 1849px #FFF , 1056px 1774px #FFF , 1595px 244px #FFF , 1674px 1502px #FFF , 723px 1884px #FFF , 1952px 1839px #FFF , 642px 42px #FFF , 1473px 450px #FFF , 865px 939px #FFF , 200px 496px #FFF , 1597px 812px #FFF , 1554px 1225px #FFF , 1608px 1086px #FFF , 1514px 1608px #FFF , 706px 1778px #FFF , 1983px 580px #FFF , 486px 1585px #FFF , 1452px 733px #FFF , 537px 1662px #FFF , 1424px 1253px #FFF , 751px 1293px #FFF , 408px 318px #FFF , 10px 1604px #FFF , 267px 848px #FFF , 1206px 823px #FFF , 145px 1398px #FFF , 930px 1633px #FFF , 421px 201px #FFF , 968px 1322px #FFF , 240px 1533px #FFF , 913px 1922px #FFF , 1314px 447px #FFF , 109px 141px #FFF , 93px 1034px #FFF , 520px 643px #FFF , 8px 1322px #FFF , 1684px 1950px #FFF , 673px 194px #FFF , 349px 1634px #FFF , 484px 568px #FFF , 1945px 284px #FFF , 1819px 129px #FFF , 1532px 521px #FFF , 1597px 1069px #FFF , 574px 1862px #FFF , 1633px 374px #FFF , 1444px 738px #FFF , 1062px 1289px #FFF , 627px 1472px #FFF , 1378px 165px #FFF , 1447px 1799px #FFF , 1855px 1728px #FFF , 141px 1490px #FFF , 712px 1774px #FFF , 1925px 1675px #FFF , 620px 710px #FFF , 1621px 1569px #FFF , 1231px 1899px #FFF , 200px 611px #FFF , 921px 1805px #FFF , 131px 686px #FFF , 1176px 369px #FFF , 1967px 1442px #FFF , 1803px 746px #FFF , 1433px 1127px #FFF , 882px 1191px #FFF , 1398px 667px #FFF , 1633px 1973px #FFF , 1497px 1111px #FFF , 1769px 549px #FFF , 1479px 505px #FFF , 690px 910px #FFF , 1504px 1018px #FFF , 1195px 1990px #FFF , 507px 1761px #FFF , 872px 802px #FFF , 1470px 499px #FFF , 1844px 1873px #FFF , 1635px 1312px #FFF , 1080px 46px #FFF , 961px 1861px #FFF , 1060px 590px #FFF , 1282px 100px #FFF , 84px 1076px #FFF , 242px 1777px #FFF , 9px 901px #FFF , 953px 688px #FFF , 1468px 1233px #FFF , 1732px 679px #FFF , 210px 414px #FFF , 1916px 1557px #FFF , 311px 770px #FFF , 786px 278px #FFF , 155px 351px #FFF , 58px 1087px #FFF , 27px 521px #FFF , 339px 29px #FFF , 85px 204px #FFF , 755px 394px #FFF , 1237px 1444px #FFF , 212px 1705px #FFF , 1694px 406px #FFF , 580px 1264px #FFF , 809px 883px #FFF , 992px 1346px #FFF , 882px 1399px #FFF , 1927px 399px #FFF , 447px 1474px #FFF , 1764px 860px #FFF , 1094px 594px #FFF , 1536px 1706px #FFF , 1444px 1706px #FFF , 640px 602px #FFF , 1086px 1354px #FFF , 1852px 263px #FFF , 1594px 25px #FFF , 1077px 1268px #FFF , 390px 839px #FFF , 1579px 1342px #FFF , 1654px 1633px #FFF , 765px 1004px #FFF , 826px 941px #FFF , 1496px 1954px #FFF , 1313px 669px #FFF , 1933px 1114px #FFF , 419px 1832px #FFF , 1379px 1854px #FFF , 1937px 1321px #FFF , 1363px 388px #FFF , 1908px 466px #FFF , 1545px 1562px #FFF , 1828px 862px #FFF , 1673px 1835px #FFF , 1478px 1767px #FFF , 1483px 321px #FFF , 509px 1242px #FFF , 1394px 1203px #FFF , 1643px 239px #FFF , 852px 1977px #FFF , 976px 826px #FFF , 1139px 48px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 332px 1162px #FFF , 1905px 454px #FFF , 1363px 1476px #FFF , 431px 929px #FFF , 245px 1081px #FFF , 1615px 818px #FFF , 845px 1370px #FFF , 388px 125px #FFF , 1070px 573px #FFF , 724px 1018px #FFF , 644px 1897px #FFF , 1895px 1573px #FFF , 830px 306px #FFF , 1883px 1845px #FFF , 1521px 1880px #FFF , 603px 113px #FFF , 331px 1440px #FFF , 448px 524px #FFF , 175px 1351px #FFF , 1503px 1261px #FFF , 911px 1952px #FFF , 331px 1637px #FFF , 20px 124px #FFF , 611px 1358px #FFF , 291px 726px #FFF , 523px 772px #FFF , 1063px 1291px #FFF , 404px 703px #FFF , 1028px 979px #FFF , 1968px 1189px #FFF , 1923px 297px #FFF , 221px 1946px #FFF , 1722px 987px #FFF , 1280px 1087px #FFF , 1133px 16px #FFF , 1685px 1149px #FFF , 1470px 311px #FFF , 900px 1239px #FFF , 1393px 1937px #FFF , 449px 466px #FFF , 403px 260px #FFF , 828px 1896px #FFF , 1206px 1914px #FFF , 718px 1933px #FFF , 435px 872px #FFF , 1993px 813px #FFF , 293px 1474px #FFF , 300px 1875px #FFF , 1118px 1538px #FFF , 772px 1924px #FFF , 444px 187px #FFF , 415px 1128px #FFF , 1691px 1543px #FFF , 839px 1886px #FFF , 1686px 156px #FFF , 786px 1348px #FFF , 175px 355px #FFF , 1146px 1865px #FFF , 1549px 247px #FFF , 375px 1806px #FFF , 727px 64px #FFF , 638px 1656px #FFF , 615px 841px #FFF , 783px 551px #FFF , 558px 1689px #FFF , 172px 250px #FFF , 1204px 1968px #FFF , 393px 637px #FFF , 1104px 1980px #FFF , 297px 897px #FFF , 725px 1216px #FFF , 1312px 1523px #FFF , 1642px 697px #FFF , 1693px 216px #FFF , 824px 250px #FFF , 1855px 1110px #FFF , 100px 632px #FFF , 1725px 1155px #FFF , 1183px 1571px #FFF , 1859px 360px #FFF , 1352px 781px #FFF , 596px 45px #FFF , 1730px 396px #FFF , 590px 1733px #FFF , 221px 557px #FFF , 1227px 166px #FFF , 413px 449px #FFF , 1819px 644px #FFF , 1597px 904px #FFF , 1527px 214px #FFF , 1720px 58px #FFF , 1289px 108px #FFF , 1902px 958px #FFF , 887px 778px #FFF , 1666px 768px #FFF , 1348px 1963px #FFF , 543px 1071px #FFF , 1876px 698px #FFF , 399px 644px #FFF , 1785px 175px #FFF , 1489px 1987px #FFF , 1231px 286px #FFF , 1070px 1688px #FFF , 565px 1565px #FFF , 1192px 1392px #FFF , 1904px 1235px #FFF , 1537px 1898px #FFF , 1102px 228px #FFF , 1755px 1940px #FFF , 976px 266px #FFF , 440px 1063px #FFF , 1604px 140px #FFF , 270px 428px #FFF , 1431px 538px #FFF , 1707px 652px #FFF , 250px 1786px #FFF , 665px 1675px #FFF , 1611px 729px #FFF , 907px 801px #FFF , 1974px 1842px #FFF , 1335px 446px #FFF , 229px 1244px #FFF , 724px 1676px #FFF , 743px 786px #FFF , 546px 1092px #FFF , 1924px 1453px #FFF , 1606px 1827px #FFF , 1554px 1404px #FFF , 892px 40px #FFF , 397px 1688px #FFF , 235px 1568px #FFF , 1353px 450px #FFF , 813px 886px #FFF , 997px 283px #FFF , 1402px 208px #FFF , 116px 1266px #FFF , 1555px 1040px #FFF , 872px 1864px #FFF , 629px 498px #FFF , 1665px 1530px #FFF , 1517px 1840px #FFF , 1646px 1072px #FFF , 1392px 515px #FFF , 822px 1372px #FFF , 123px 1929px #FFF , 1454px 1082px #FFF , 1054px 413px #FFF , 1427px 664px #FFF , 343px 1769px #FFF , 1083px 487px #FFF , 819px 1713px #FFF , 1957px 130px #FFF , 1741px 858px #FFF , 1892px 1820px #FFF , 526px 11px #FFF , 1104px 414px #FFF , 1830px 48px #FFF , 859px 758px #FFF , 137px 1540px #FFF , 487px 1011px #FFF , 780px 1626px #FFF , 579px 1945px #FFF , 1634px 1177px #FFF , 708px 1044px #FFF , 1283px 645px #FFF , 826px 212px #FFF , 103px 954px #FFF , 86px 149px #FFF , 19px 1868px #FFF , 1489px 1595px #FFF , 1707px 681px #FFF , 529px 226px #FFF , 34px 1547px #FFF , 148px 627px #FFF , 1775px 1813px #FFF , 312px 1242px #FFF , 541px 815px #FFF , 1244px 119px #FFF , 1766px 1996px #FFF , 497px 271px #FFF , 61px 826px #FFF , 883px 508px #FFF , 265px 1422px #FFF , 1190px 1371px #FFF , 550px 1569px #FFF , 784px 1421px #FFF , 1647px 1164px #FFF , 1640px 1259px #FFF , 1392px 1170px #FFF , 611px 967px #FFF , 292px 1760px #FFF , 1270px 1236px #FFF , 714px 684px #FFF , 305px 1919px #FFF , 204px 1387px #FFF , 174px 934px #FFF , 1725px 454px #FFF , 923px 699px #FFF , 291px 488px #FFF , 713px 321px #FFF , 1478px 1430px #FFF , 1667px 726px #FFF , 353px 238px #FFF , 793px 443px #FFF , 419px 896px #FFF , 1118px 1377px #FFF , 1234px 1855px #FFF , 1447px 1005px #FFF , 1185px 1416px #FFF , 1583px 1078px #FFF , 1999px 1274px #FFF , 676px 125px #FFF , 1531px 291px #FFF , 1772px 828px #FFF , 1592px 368px #FFF , 1006px 403px #FFF , 1225px 1965px #FFF , 1329px 1367px #FFF , 452px 1622px #FFF , 920px 746px #FFF , 541px 806px #FFF , 219px 1228px #FFF , 1560px 775px #FFF , 1669px 509px #FFF , 1666px 1950px #FFF , 1525px 215px #FFF , 1780px 1009px #FFF , 272px 394px #FFF , 492px 1853px #FFF , 312px 1544px #FFF , 1619px 1395px #FFF , 1556px 151px #FFF , 718px 223px #FFF , 1667px 516px #FFF , 1038px 241px #FFF , 1327px 1563px #FFF , 812px 1388px #FFF , 692px 1749px #FFF , 756px 562px #FFF , 945px 611px #FFF , 1620px 1595px #FFF , 1107px 1030px #FFF , 874px 350px #FFF , 1139px 70px #FFF , 658px 1424px #FFF , 1892px 1864px #FFF , 25px 1111px #FFF , 1511px 1663px #FFF , 1547px 727px #FFF , 1556px 347px #FFF , 1125px 1560px #FFF , 1149px 1066px #FFF , 57px 884px #FFF , 1257px 457px #FFF , 1492px 369px #FFF , 1886px 1364px #FFF , 769px 939px #FFF , 1058px 524px #FFF , 171px 576px #FFF , 1407px 1712px #FFF , 327px 1111px #FFF , 1002px 1312px #FFF , 458px 137px #FFF , 560px 1514px #FFF , 852px 1367px #FFF , 3px 867px #FFF , 295px 1919px #FFF , 79px 1569px #FFF , 986px 308px #FFF , 1066px 1045px #FFF , 1535px 1418px #FFF , 590px 168px #FFF , 1261px 1969px #FFF , 245px 1874px #FFF , 1219px 629px #FFF , 1810px 1530px #FFF , 866px 1047px #FFF , 719px 1345px #FFF , 930px 414px #FFF , 114px 780px #FFF , 331px 400px #FFF , 1102px 1182px #FFF , 1181px 58px #FFF , 1520px 1191px #FFF , 308px 405px #FFF , 1989px 7px #FFF , 432px 839px #FFF , 1046px 1311px #FFF , 1453px 140px #FFF , 1382px 1271px #FFF , 832px 1810px #FFF , 1321px 1236px #FFF , 219px 42px #FFF , 150px 467px #FFF , 1407px 319px #FFF , 83px 567px #FFF , 88px 1795px #FFF , 183px 1261px #FFF , 1621px 478px #FFF , 1615px 883px #FFF , 790px 332px #FFF , 1903px 1002px #FFF , 944px 1060px #FFF , 1830px 1304px #FFF , 1385px 642px #FFF , 1912px 1091px #FFF , 1116px 1478px #FFF , 1425px 879px #FFF , 1057px 1947px #FFF , 1692px 500px #FFF , 1388px 108px #FFF , 1883px 82px #FFF , 1620px 612px #FFF , 1195px 1300px #FFF , 623px 1545px #FFF , 1861px 1015px #FFF , 1353px 1171px #FFF , 1696px 1079px #FFF , 760px 1442px #FFF , 131px 449px #FFF , 1414px 1942px #FFF , 1289px 710px #FFF , 1870px 619px #FFF , 1766px 1670px #FFF , 1839px 693px #FFF , 478px 1817px #FFF , 1817px 1748px #FFF , 1636px 1772px #FFF , 822px 1236px #FFF , 344px 361px #FFF , 317px 1323px #FFF , 471px 887px #FFF , 21px 1459px #FFF , 321px 1250px #FFF , 291px 1778px #FFF , 1105px 1353px #FFF , 1169px 806px #FFF , 566px 660px #FFF , 1833px 805px #FFF , 1957px 1557px #FFF , 1563px 1794px #FFF , 1135px 9px #FFF , 952px 348px #FFF , 1944px 1247px #FFF , 1188px 560px #FFF , 103px 1120px #FFF , 1804px 1469px #FFF , 1450px 1743px #FFF , 520px 1755px #FFF , 980px 588px #FFF , 1373px 897px #FFF , 1492px 1731px #FFF , 1053px 1765px #FFF , 308px 748px #FFF , 1237px 409px #FFF , 692px 1619px #FFF , 340px 1640px #FFF , 335px 995px #FFF , 727px 776px #FFF , 1899px 375px #FFF , 1304px 1985px #FFF , 397px 673px #FFF , 1672px 1259px #FFF , 530px 1789px #FFF , 857px 1260px #FFF , 1680px 1117px #FFF , 455px 1698px #FFF , 956px 1527px #FFF , 1133px 479px #FFF , 486px 931px #FFF , 1818px 315px #FFF , 375px 648px #FFF , 1394px 122px #FFF , 936px 600px #FFF , 711px 1283px #FFF , 455px 1301px #FFF , 1680px 1442px #FFF , 973px 68px #FFF , 1584px 1989px #FFF , 1584px 1192px #FFF , 431px 1991px #FFF , 116px 1792px #FFF , 610px 865px #FFF , 1544px 274px #FFF , 448px 1889px #FFF , 24px 1285px #FFF , 1439px 1117px #FFF , 188px 832px #FFF , 1716px 656px #FFF , 1091px 1491px #FFF , 135px 741px #FFF , 554px 205px #FFF , 1091px 1836px #FFF , 1142px 626px #FFF , 1102px 449px #FFF , 456px 662px #FFF , 627px 681px #FFF , 1544px 148px #FFF , 905px 1640px #FFF , 1536px 867px #FFF , 771px 1484px #FFF , 939px 1883px #FFF , 1739px 645px #FFF , 600px 1295px #FFF , 412px 515px #FFF , 788px 932px #FFF , 961px 451px #FFF , 211px 1761px #FFF , 561px 1962px #FFF , 1889px 11px #FFF , 759px 882px #FFF , 1706px 1612px #FFF , 562px 1688px #FFF , 1956px 2000px #FFF , 269px 154px #FFF , 1818px 677px #FFF , 1856px 518px #FFF , 75px 815px #FFF , 1766px 771px #FFF , 824px 1329px #FFF , 31px 809px #FFF , 281px 116px #FFF , 42px 459px #FFF , 329px 566px #FFF , 1744px 332px #FFF , 9px 1107px #FFF , 1587px 1181px #FFF , 498px 594px #FFF , 515px 49px #FFF , 188px 1054px #FFF , 678px 1037px #FFF , 1799px 1155px #FFF , 1954px 1236px #FFF , 1792px 567px #FFF , 359px 1848px #FFF , 522px 1251px #FFF , 1281px 3px #FFF , 1748px 256px #FFF , 1999px 1633px #FFF , 1644px 1168px #FFF , 1924px 1706px #FFF , 1439px 1289px #FFF , 63px 1219px #FFF , 77px 398px #FFF , 497px 310px #FFF , 968px 1474px #FFF , 1613px 1441px #FFF , 1830px 939px #FFF , 1388px 742px #FFF , 783px 656px #FFF , 4px 666px #FFF , 1580px 1307px #FFF , 1902px 1422px #FFF , 1827px 1485px #FFF , 299px 1943px #FFF , 498px 775px #FFF , 931px 861px #FFF , 1737px 1510px #FFF , 373px 376px #FFF , 115px 1001px #FFF , 1217px 1028px #FFF , 1986px 19px #FFF , 1789px 1432px #FFF , 487px 151px #FFF , 899px 1971px #FFF , 1921px 1793px #FFF , 1883px 1984px #FFF , 1180px 1067px #FFF , 1351px 1579px #FFF , 1617px 1361px #FFF , 1324px 1653px #FFF , 713px 625px #FFF , 137px 1440px #FFF , 1299px 1456px #FFF , 1305px 50px #FFF , 1039px 61px #FFF , 1177px 1703px #FFF , 727px 1582px #FFF , 442px 306px #FFF , 1028px 1018px #FFF , 1525px 1907px #FFF , 986px 1067px #FFF , 244px 1745px #FFF , 1937px 1546px #FFF , 1668px 1368px #FFF , 685px 113px #FFF , 183px 1814px #FFF , 807px 1798px #FFF , 1593px 1020px #FFF , 1139px 803px #FFF , 1429px 159px #FFF , 201px 81px #FFF , 692px 1864px #FFF , 1625px 1630px #FFF , 557px 478px #FFF , 1663px 1579px #FFF , 1591px 370px #FFF , 1046px 950px #FFF , 1434px 243px #FFF , 1735px 691px #FFF , 1710px 662px #FFF , 477px 1162px #FFF , 1672px 1206px #FFF , 99px 531px #FFF , 581px 1544px #FFF , 1214px 677px #FFF , 660px 1709px #FFF , 1179px 988px #FFF , 281px 1825px #FFF , 1166px 711px #FFF , 1705px 1675px #FFF , 1437px 1586px #FFF , 1670px 1543px #FFF , 283px 1755px #FFF , 1619px 720px #FFF , 438px 585px #FFF , 1113px 390px #FFF , 1302px 828px #FFF , 1424px 1581px #FFF , 839px 1572px #FFF , 49px 415px #FFF , 1936px 191px #FFF , 131px 1488px #FFF , 221px 561px #FFF , 1598px 1283px #FFF , 872px 1208px #FFF , 216px 514px #FFF , 1915px 1469px #FFF , 741px 95px #FFF , 1783px 1311px #FFF , 1445px 772px #FFF , 1317px 1399px #FFF , 1665px 1761px #FFF , 1671px 1097px #FFF , 1640px 82px #FFF , 557px 1649px #FFF , 1264px 986px #FFF , 1751px 728px #FFF , 1874px 1534px #FFF , 1275px 1598px #FFF , 139px 551px #FFF , 644px 1596px #FFF , 1508px 715px #FFF , 162px 966px #FFF , 324px 1959px #FFF , 432px 842px #FFF , 963px 496px #FFF , 516px 1829px #FFF , 146px 241px #FFF , 135px 713px #FFF , 445px 1138px #FFF , 1733px 1012px #FFF , 840px 1466px #FFF , 1318px 1376px #FFF , 1580px 1779px #FFF , 713px 1894px #FFF , 716px 246px #FFF , 1556px 1375px #FFF , 286px 1604px #FFF , 1436px 1849px #FFF , 1056px 1774px #FFF , 1595px 244px #FFF , 1674px 1502px #FFF , 723px 1884px #FFF , 1952px 1839px #FFF , 642px 42px #FFF , 1473px 450px #FFF , 865px 939px #FFF , 200px 496px #FFF , 1597px 812px #FFF , 1554px 1225px #FFF , 1608px 1086px #FFF , 1514px 1608px #FFF , 706px 1778px #FFF , 1983px 580px #FFF , 486px 1585px #FFF , 1452px 733px #FFF , 537px 1662px #FFF , 1424px 1253px #FFF , 751px 1293px #FFF , 408px 318px #FFF , 10px 1604px #FFF , 267px 848px #FFF , 1206px 823px #FFF , 145px 1398px #FFF , 930px 1633px #FFF , 421px 201px #FFF , 968px 1322px #FFF , 240px 1533px #FFF , 913px 1922px #FFF , 1314px 447px #FFF , 109px 141px #FFF , 93px 1034px #FFF , 520px 643px #FFF , 8px 1322px #FFF , 1684px 1950px #FFF , 673px 194px #FFF , 349px 1634px #FFF , 484px 568px #FFF , 1945px 284px #FFF , 1819px 129px #FFF , 1532px 521px #FFF , 1597px 1069px #FFF , 574px 1862px #FFF , 1633px 374px #FFF , 1444px 738px #FFF , 1062px 1289px #FFF , 627px 1472px #FFF , 1378px 165px #FFF , 1447px 1799px #FFF , 1855px 1728px #FFF , 141px 1490px #FFF , 712px 1774px #FFF , 1925px 1675px #FFF , 620px 710px #FFF , 1621px 1569px #FFF , 1231px 1899px #FFF , 200px 611px #FFF , 921px 1805px #FFF , 131px 686px #FFF , 1176px 369px #FFF , 1967px 1442px #FFF , 1803px 746px #FFF , 1433px 1127px #FFF , 882px 1191px #FFF , 1398px 667px #FFF , 1633px 1973px #FFF , 1497px 1111px #FFF , 1769px 549px #FFF , 1479px 505px #FFF , 690px 910px #FFF , 1504px 1018px #FFF , 1195px 1990px #FFF , 507px 1761px #FFF , 872px 802px #FFF , 1470px 499px #FFF , 1844px 1873px #FFF , 1635px 1312px #FFF , 1080px 46px #FFF , 961px 1861px #FFF , 1060px 590px #FFF , 1282px 100px #FFF , 84px 1076px #FFF , 242px 1777px #FFF , 9px 901px #FFF , 953px 688px #FFF , 1468px 1233px #FFF , 1732px 679px #FFF , 210px 414px #FFF , 1916px 1557px #FFF , 311px 770px #FFF , 786px 278px #FFF , 155px 351px #FFF , 58px 1087px #FFF , 27px 521px #FFF , 339px 29px #FFF , 85px 204px #FFF , 755px 394px #FFF , 1237px 1444px #FFF , 212px 1705px #FFF , 1694px 406px #FFF , 580px 1264px #FFF , 809px 883px #FFF , 992px 1346px #FFF , 882px 1399px #FFF , 1927px 399px #FFF , 447px 1474px #FFF , 1764px 860px #FFF , 1094px 594px #FFF , 1536px 1706px #FFF , 1444px 1706px #FFF , 640px 602px #FFF , 1086px 1354px #FFF , 1852px 263px #FFF , 1594px 25px #FFF , 1077px 1268px #FFF , 390px 839px #FFF , 1579px 1342px #FFF , 1654px 1633px #FFF , 765px 1004px #FFF , 826px 941px #FFF , 1496px 1954px #FFF , 1313px 669px #FFF , 1933px 1114px #FFF , 419px 1832px #FFF , 1379px 1854px #FFF , 1937px 1321px #FFF , 1363px 388px #FFF , 1908px 466px #FFF , 1545px 1562px #FFF , 1828px 862px #FFF , 1673px 1835px #FFF , 1478px 1767px #FFF , 1483px 321px #FFF , 509px 1242px #FFF , 1394px 1203px #FFF , 1643px 239px #FFF , 852px 1977px #FFF , 976px 826px #FFF , 1139px 48px #FFF;
  }

  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 676px 1563px #FFF , 1800px 721px #FFF , 747px 1051px #FFF , 990px 939px #FFF , 11px 117px #FFF , 1975px 578px #FFF , 856px 1901px #FFF , 1843px 913px #FFF , 1633px 1982px #FFF , 1555px 1309px #FFF , 991px 242px #FFF , 943px 493px #FFF , 1843px 69px #FFF , 914px 1663px #FFF , 1947px 893px #FFF , 1439px 1652px #FFF , 1073px 1330px #FFF , 110px 274px #FFF , 883px 1862px #FFF , 618px 1951px #FFF , 282px 1376px #FFF , 1413px 1229px #FFF , 698px 1516px #FFF , 1675px 1548px #FFF , 111px 641px #FFF , 366px 1974px #FFF , 1859px 923px #FFF , 1830px 490px #FFF , 740px 1316px #FFF , 1340px 1237px #FFF , 273px 1791px #FFF , 56px 919px #FFF , 1107px 1398px #FFF , 1673px 1917px #FFF , 1209px 132px #FFF , 1225px 5px #FFF , 695px 1125px #FFF , 152px 1520px #FFF , 1380px 1400px #FFF , 1027px 1276px #FFF , 1326px 537px #FFF , 504px 828px #FFF , 1018px 239px #FFF , 1377px 1144px #FFF , 1788px 338px #FFF , 170px 1832px #FFF , 1758px 144px #FFF , 751px 1794px #FFF , 1798px 287px #FFF , 255px 567px #FFF , 1065px 1848px #FFF , 1905px 836px #FFF , 796px 1637px #FFF , 1747px 1868px #FFF , 1171px 410px #FFF , 207px 1420px #FFF , 1614px 1173px #FFF , 287px 1427px #FFF , 689px 569px #FFF , 1469px 1643px #FFF , 638px 1773px #FFF , 1664px 751px #FFF , 904px 1809px #FFF , 906px 1761px #FFF , 1864px 325px #FFF , 1495px 1602px #FFF , 1639px 1987px #FFF , 1294px 844px #FFF , 158px 1227px #FFF , 1595px 1665px #FFF , 263px 16px #FFF , 1016px 529px #FFF , 355px 1718px #FFF , 1375px 1326px #FFF , 1534px 1273px #FFF , 1659px 1653px #FFF , 246px 871px #FFF , 196px 1827px #FFF , 815px 1961px #FFF , 135px 779px #FFF , 644px 398px #FFF , 68px 893px #FFF , 989px 236px #FFF , 1612px 604px #FFF , 1232px 85px #FFF , 1366px 1006px #FFF , 566px 468px #FFF , 1373px 724px #FFF , 1948px 1441px #FFF , 1916px 2000px #FFF , 700px 1512px #FFF , 509px 1783px #FFF , 1307px 1499px #FFF , 1135px 1459px #FFF , 288px 1129px #FFF , 320px 662px #FFF , 518px 1262px #FFF , 699px 900px #FFF , 1417px 475px #FFF , 440px 910px #FFF , 869px 506px #FFF , 328px 665px #FFF , 1348px 1041px #FFF , 359px 504px #FFF , 1071px 1398px #FFF , 1109px 422px #FFF , 1571px 284px #FFF , 751px 603px #FFF , 1137px 1796px #FFF , 164px 875px #FFF , 1292px 1264px #FFF , 466px 362px #FFF , 1624px 1126px #FFF , 1382px 409px #FFF , 1843px 1948px #FFF , 1014px 1419px #FFF , 1688px 1381px #FFF , 672px 790px #FFF , 185px 945px #FFF , 1391px 1423px #FFF , 196px 514px #FFF , 1465px 348px #FFF , 1356px 229px #FFF , 980px 1650px #FFF , 1210px 1254px #FFF , 632px 1544px #FFF , 1313px 1761px #FFF , 767px 140px #FFF , 1163px 1678px #FFF , 377px 1903px #FFF , 1886px 1916px #FFF , 1205px 1442px #FFF , 1807px 1592px #FFF , 908px 1470px #FFF , 995px 1506px #FFF , 1263px 1726px #FFF , 83px 535px #FFF , 1409px 997px #FFF , 1457px 642px #FFF , 52px 1666px #FFF , 1291px 802px #FFF , 1194px 1808px #FFF , 1129px 1904px #FFF , 1319px 1352px #FFF , 17px 685px #FFF , 836px 919px #FFF , 603px 1128px #FFF , 185px 1084px #FFF , 1742px 789px #FFF , 1441px 1978px #FFF , 1713px 1134px #FFF , 970px 1365px #FFF , 671px 1912px #FFF , 1540px 874px #FFF , 992px 1364px #FFF , 780px 886px #FFF , 1846px 1963px #FFF , 1891px 668px #FFF , 1875px 1532px #FFF , 1234px 281px #FFF , 1246px 734px #FFF , 1888px 866px #FFF , 1468px 882px #FFF , 670px 163px #FFF , 647px 1498px #FFF , 1340px 1971px #FFF , 1034px 1376px #FFF , 1803px 1048px #FFF , 1715px 1710px #FFF , 1952px 116px #FFF , 1640px 1586px #FFF , 1719px 1001px #FFF , 1934px 460px #FFF , 1099px 31px #FFF , 78px 11px #FFF , 1873px 51px #FFF , 59px 68px #FFF , 1257px 765px #FFF , 1344px 1029px #FFF , 507px 418px #FFF , 838px 1131px #FFF , 1861px 109px #FFF , 1163px 1183px #FFF , 1575px 1038px #FFF , 1085px 743px #FFF , 841px 652px #FFF , 1488px 693px #FFF , 1844px 301px #FFF , 1845px 1229px #FFF , 1446px 159px #FFF , 818px 606px #FFF , 1051px 557px #FFF , 1885px 1636px #FFF , 325px 640px #FFF , 1572px 152px #FFF , 1756px 1210px #FFF , 1636px 1060px #FFF , 524px 610px #FFF , 1459px 1097px #FFF , 1648px 1329px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 676px 1563px #FFF , 1800px 721px #FFF , 747px 1051px #FFF , 990px 939px #FFF , 11px 117px #FFF , 1975px 578px #FFF , 856px 1901px #FFF , 1843px 913px #FFF , 1633px 1982px #FFF , 1555px 1309px #FFF , 991px 242px #FFF , 943px 493px #FFF , 1843px 69px #FFF , 914px 1663px #FFF , 1947px 893px #FFF , 1439px 1652px #FFF , 1073px 1330px #FFF , 110px 274px #FFF , 883px 1862px #FFF , 618px 1951px #FFF , 282px 1376px #FFF , 1413px 1229px #FFF , 698px 1516px #FFF , 1675px 1548px #FFF , 111px 641px #FFF , 366px 1974px #FFF , 1859px 923px #FFF , 1830px 490px #FFF , 740px 1316px #FFF , 1340px 1237px #FFF , 273px 1791px #FFF , 56px 919px #FFF , 1107px 1398px #FFF , 1673px 1917px #FFF , 1209px 132px #FFF , 1225px 5px #FFF , 695px 1125px #FFF , 152px 1520px #FFF , 1380px 1400px #FFF , 1027px 1276px #FFF , 1326px 537px #FFF , 504px 828px #FFF , 1018px 239px #FFF , 1377px 1144px #FFF , 1788px 338px #FFF , 170px 1832px #FFF , 1758px 144px #FFF , 751px 1794px #FFF , 1798px 287px #FFF , 255px 567px #FFF , 1065px 1848px #FFF , 1905px 836px #FFF , 796px 1637px #FFF , 1747px 1868px #FFF , 1171px 410px #FFF , 207px 1420px #FFF , 1614px 1173px #FFF , 287px 1427px #FFF , 689px 569px #FFF , 1469px 1643px #FFF , 638px 1773px #FFF , 1664px 751px #FFF , 904px 1809px #FFF , 906px 1761px #FFF , 1864px 325px #FFF , 1495px 1602px #FFF , 1639px 1987px #FFF , 1294px 844px #FFF , 158px 1227px #FFF , 1595px 1665px #FFF , 263px 16px #FFF , 1016px 529px #FFF , 355px 1718px #FFF , 1375px 1326px #FFF , 1534px 1273px #FFF , 1659px 1653px #FFF , 246px 871px #FFF , 196px 1827px #FFF , 815px 1961px #FFF , 135px 779px #FFF , 644px 398px #FFF , 68px 893px #FFF , 989px 236px #FFF , 1612px 604px #FFF , 1232px 85px #FFF , 1366px 1006px #FFF , 566px 468px #FFF , 1373px 724px #FFF , 1948px 1441px #FFF , 1916px 2000px #FFF , 700px 1512px #FFF , 509px 1783px #FFF , 1307px 1499px #FFF , 1135px 1459px #FFF , 288px 1129px #FFF , 320px 662px #FFF , 518px 1262px #FFF , 699px 900px #FFF , 1417px 475px #FFF , 440px 910px #FFF , 869px 506px #FFF , 328px 665px #FFF , 1348px 1041px #FFF , 359px 504px #FFF , 1071px 1398px #FFF , 1109px 422px #FFF , 1571px 284px #FFF , 751px 603px #FFF , 1137px 1796px #FFF , 164px 875px #FFF , 1292px 1264px #FFF , 466px 362px #FFF , 1624px 1126px #FFF , 1382px 409px #FFF , 1843px 1948px #FFF , 1014px 1419px #FFF , 1688px 1381px #FFF , 672px 790px #FFF , 185px 945px #FFF , 1391px 1423px #FFF , 196px 514px #FFF , 1465px 348px #FFF , 1356px 229px #FFF , 980px 1650px #FFF , 1210px 1254px #FFF , 632px 1544px #FFF , 1313px 1761px #FFF , 767px 140px #FFF , 1163px 1678px #FFF , 377px 1903px #FFF , 1886px 1916px #FFF , 1205px 1442px #FFF , 1807px 1592px #FFF , 908px 1470px #FFF , 995px 1506px #FFF , 1263px 1726px #FFF , 83px 535px #FFF , 1409px 997px #FFF , 1457px 642px #FFF , 52px 1666px #FFF , 1291px 802px #FFF , 1194px 1808px #FFF , 1129px 1904px #FFF , 1319px 1352px #FFF , 17px 685px #FFF , 836px 919px #FFF , 603px 1128px #FFF , 185px 1084px #FFF , 1742px 789px #FFF , 1441px 1978px #FFF , 1713px 1134px #FFF , 970px 1365px #FFF , 671px 1912px #FFF , 1540px 874px #FFF , 992px 1364px #FFF , 780px 886px #FFF , 1846px 1963px #FFF , 1891px 668px #FFF , 1875px 1532px #FFF , 1234px 281px #FFF , 1246px 734px #FFF , 1888px 866px #FFF , 1468px 882px #FFF , 670px 163px #FFF , 647px 1498px #FFF , 1340px 1971px #FFF , 1034px 1376px #FFF , 1803px 1048px #FFF , 1715px 1710px #FFF , 1952px 116px #FFF , 1640px 1586px #FFF , 1719px 1001px #FFF , 1934px 460px #FFF , 1099px 31px #FFF , 78px 11px #FFF , 1873px 51px #FFF , 59px 68px #FFF , 1257px 765px #FFF , 1344px 1029px #FFF , 507px 418px #FFF , 838px 1131px #FFF , 1861px 109px #FFF , 1163px 1183px #FFF , 1575px 1038px #FFF , 1085px 743px #FFF , 841px 652px #FFF , 1488px 693px #FFF , 1844px 301px #FFF , 1845px 1229px #FFF , 1446px 159px #FFF , 818px 606px #FFF , 1051px 557px #FFF , 1885px 1636px #FFF , 325px 640px #FFF , 1572px 152px #FFF , 1756px 1210px #FFF , 1636px 1060px #FFF , 524px 610px #FFF , 1459px 1097px #FFF , 1648px 1329px #FFF;
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1863px 57px #FFF , 179px 1486px #FFF , 511px 1806px #FFF , 917px 1584px #FFF , 1146px 1417px #FFF , 1987px 443px #FFF , 744px 1776px #FFF , 850px 120px #FFF , 1309px 870px #FFF , 822px 1511px #FFF , 1207px 793px #FFF , 1956px 836px #FFF , 729px 936px #FFF , 1829px 553px #FFF , 1059px 233px #FFF , 1111px 1086px #FFF , 1352px 1313px #FFF , 405px 1218px #FFF , 593px 22px #FFF , 1030px 1469px #FFF , 910px 410px #FFF , 887px 1874px #FFF , 866px 1956px #FFF , 1602px 320px #FFF , 606px 940px #FFF , 867px 249px #FFF , 1987px 170px #FFF , 561px 633px #FFF , 20px 910px #FFF , 866px 781px #FFF , 353px 1251px #FFF , 117px 1985px #FFF , 185px 992px #FFF , 1020px 603px #FFF , 525px 1710px #FFF , 230px 903px #FFF , 1745px 813px #FFF , 1708px 1680px #FFF , 568px 52px #FFF , 894px 137px #FFF , 1344px 1329px #FFF , 1601px 758px #FFF , 1978px 1731px #FFF , 1238px 1248px #FFF , 662px 1813px #FFF , 1158px 733px #FFF , 626px 1636px #FFF , 1292px 618px #FFF , 949px 800px #FFF , 525px 732px #FFF , 597px 770px #FFF , 1771px 1465px #FFF , 1479px 1120px #FFF , 1271px 64px #FFF , 637px 746px #FFF , 1495px 342px #FFF , 413px 298px #FFF , 924px 1501px #FFF , 1801px 1582px #FFF , 1398px 1633px #FFF , 1157px 1153px #FFF , 339px 256px #FFF , 902px 201px #FFF , 226px 1165px #FFF , 1420px 1178px #FFF , 354px 314px #FFF , 1843px 869px #FFF , 1213px 511px #FFF , 1673px 884px #FFF , 376px 453px #FFF , 1170px 160px #FFF , 1204px 1382px #FFF , 1085px 657px #FFF , 1334px 443px #FFF , 1899px 1888px #FFF , 863px 172px #FFF , 702px 639px #FFF , 513px 1276px #FFF , 1051px 831px #FFF , 1031px 1145px #FFF , 375px 1594px #FFF , 1752px 597px #FFF , 1788px 6px #FFF , 1707px 1645px #FFF , 481px 1933px #FFF , 1156px 1924px #FFF , 996px 279px #FFF , 1286px 553px #FFF , 183px 1713px #FFF , 9px 799px #FFF , 131px 445px #FFF , 1867px 137px #FFF , 1340px 1286px #FFF , 1858px 29px #FFF , 1988px 1167px #FFF , 1812px 785px #FFF , 1483px 1273px #FFF , 294px 193px #FFF , 1993px 414px #FFF , 1342px 1536px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1863px 57px #FFF , 179px 1486px #FFF , 511px 1806px #FFF , 917px 1584px #FFF , 1146px 1417px #FFF , 1987px 443px #FFF , 744px 1776px #FFF , 850px 120px #FFF , 1309px 870px #FFF , 822px 1511px #FFF , 1207px 793px #FFF , 1956px 836px #FFF , 729px 936px #FFF , 1829px 553px #FFF , 1059px 233px #FFF , 1111px 1086px #FFF , 1352px 1313px #FFF , 405px 1218px #FFF , 593px 22px #FFF , 1030px 1469px #FFF , 910px 410px #FFF , 887px 1874px #FFF , 866px 1956px #FFF , 1602px 320px #FFF , 606px 940px #FFF , 867px 249px #FFF , 1987px 170px #FFF , 561px 633px #FFF , 20px 910px #FFF , 866px 781px #FFF , 353px 1251px #FFF , 117px 1985px #FFF , 185px 992px #FFF , 1020px 603px #FFF , 525px 1710px #FFF , 230px 903px #FFF , 1745px 813px #FFF , 1708px 1680px #FFF , 568px 52px #FFF , 894px 137px #FFF , 1344px 1329px #FFF , 1601px 758px #FFF , 1978px 1731px #FFF , 1238px 1248px #FFF , 662px 1813px #FFF , 1158px 733px #FFF , 626px 1636px #FFF , 1292px 618px #FFF , 949px 800px #FFF , 525px 732px #FFF , 597px 770px #FFF , 1771px 1465px #FFF , 1479px 1120px #FFF , 1271px 64px #FFF , 637px 746px #FFF , 1495px 342px #FFF , 413px 298px #FFF , 924px 1501px #FFF , 1801px 1582px #FFF , 1398px 1633px #FFF , 1157px 1153px #FFF , 339px 256px #FFF , 902px 201px #FFF , 226px 1165px #FFF , 1420px 1178px #FFF , 354px 314px #FFF , 1843px 869px #FFF , 1213px 511px #FFF , 1673px 884px #FFF , 376px 453px #FFF , 1170px 160px #FFF , 1204px 1382px #FFF , 1085px 657px #FFF , 1334px 443px #FFF , 1899px 1888px #FFF , 863px 172px #FFF , 702px 639px #FFF , 513px 1276px #FFF , 1051px 831px #FFF , 1031px 1145px #FFF , 375px 1594px #FFF , 1752px 597px #FFF , 1788px 6px #FFF , 1707px 1645px #FFF , 481px 1933px #FFF , 1156px 1924px #FFF , 996px 279px #FFF , 1286px 553px #FFF , 183px 1713px #FFF , 9px 799px #FFF , 131px 445px #FFF , 1867px 137px #FFF , 1340px 1286px #FFF , 1858px 29px #FFF , 1988px 1167px #FFF , 1812px 785px #FFF , 1483px 1273px #FFF , 294px 193px #FFF , 1993px 414px #FFF , 1342px 1536px #FFF;
  } */

/* @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  } */

@media only screen and (max-width: 900px) {
  #contact .container .row {
    display: flex;
    flex-direction: column;
  }

  #contact .col-6 {
    max-width: 100%;
  }

  #contact .contact-content {
    padding-left: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
  .about .alone {
    padding: 0%;
    margin: 10vh 0px;
  }

  .about .container {
    background: none;
    border: none;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0px;
    border-radius: none;
  }

  .content {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .about .content h2,
  .about .content p {
    font-size: 20px;
  }

  p {
    font-size: 20px;
    color: white;
  }

  .home-title {
    height: auto;
    margin-top: 42vh;
    margin-bottom: 0vh;
    width: 100%;
    padding: 0px 50px;
  }

  .home-title h1 {
    font-size: 28pt;
  }
}

@media only screen and (max-width: 501px) {
  .about .alone {
    padding: 0%;
  }

  .about .container {
    background: none;
    border: none;
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: -5%;
    padding: 0%;
  }

  .about .content h2,
  .about .content p {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  h1,
  h2,
  h3 {
    font-size: 20px;
  }

  .alone {
    padding: 0% 5%;
    text-align: center;
  }

  img.alone {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5%;
  }

  .empty-type {
    height: 55px;
  }

  .carousel {
    height: 50vh;
    /* text-align: center;
    margin-top: 2%; */
  }

  .carousel-inner {
    /* height: 50vh; */
  }

  .carousel-item {
    /* height: 80%;
    width: 100%; */
  }

  .carousel-caption {
    background-color: #0a092682;
    margin-bottom: 0;
  }

  .carousel-caption h5 {
    font-size: 10pt;
  }

  .video {
    margin-bottom: 10px;
  }

  .video iframe {
    /* margin: 0 auto;  */
    width: 100%;
    height: 250px;
  }
}